@charset "UTF-8";
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgb(233, 233, 233);
    --scrollbarHandle: rgba(255, 255, 255, 0.2);
    --scrollbarHandleHover: rgba(255, 255, 255, 0.4);
    --header-height: 56px;
}

html,
body {
    overscroll-behavior: contain;
}

html,
html * {
    scrollbar-color: var(--scrollbarHandle) transparent;
    scrollbar-width: thin
}

html::-webkit-scrollbar,
html *::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: #ffffff1a
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background: var(--scrollbarHandle)
}

html::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarHandleHover)
}

html::-webkit-scrollbar-thumb:active,
html *::-webkit-scrollbar-thumb:active {
    background: var(--accent)
}

$noto-sans-jp: 'Noto Sans JP', sans-serif;

body {
    margin: 0;
    background-color: #1f1f1f;
    color: #efefef;
    font-family: $noto-sans-jp;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.material-icons {
    vertical-align: middle;
}

a:any-link {
    color: #ffb039;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

small {
    color: #ffffff7f;
}

ul {
    padding-left: 25px;
}

dd {
    margin-left: 40px;

    +dt {
        margin-top: 10px;
    }
}

hr {
    height: 1px;
    margin: 0 10px;
    border: 0;
    background-color: #7f7f7f;
}

fieldset {
    display: contents;
}

label {
    display: block;
}

input[type="checkbox"] {
    accent-color: #66ccff;
}

input[type="range"] {
    height: 2px;
    background-color: #e5e5e5;
    appearance: none;

    &::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border: 0;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: lightgray;
    background: #1f1f1f;
    font-family: inherit;
    color-scheme: dark;

    &::placeholder {
        color: #7f7f7f;
    }

    &:disabled {
        background-color: #606060;
        color: #7f7f7f;
        cursor: not-allowed;
    }
}

button {
    padding: 5px 13px;
    border: 0;
    border-radius: 5px;
    background-color: #333333;
    color: lightgray;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;

    &:hover {
        background-color: #555555;
        color: white;
    }

    &:active {
        background-color: #111111;
        color: gray;
    }

    &:disabled {
        background-color: #111111;
        color: #7f7f7f;
        cursor: not-allowed;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
}

details {
    overflow: hidden;
    border-radius: 10px;
    background-color: #232323;
    box-shadow: 0 0 8px 0 #000000;

    >summary {
        padding: 10px;
        background-color: #323232;
        cursor: pointer;
        user-select: none;
    }

    >p,
    >div {
        margin: 0;
        padding: 10px;
    }

    details {
        margin: 0 10px 10px;
    }
}

blockquote {
    margin: 8px 5px;
    border-left: 3px solid #333333;
    padding-left: 8px;
}

header {
    overflow: hidden;
    height: var(--header-height);
    padding: 15px 12.5px;
    background: #0000007f;
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;

    a:any-link {
        color: inherit;
    }
}

@function contentAreaHeight($unit) {
    @return calc(#{100 + $unit} - var(--header-height));
}

@function randomColor() {
    @return rgb(64 + math.random(159), 32 + math.random(159), 32 + math.random(159));
}

.wrap {
    overflow: clip;
    height: contentAreaHeight(vh);
    height: contentAreaHeight(dvh);
    padding: 20px 10px;
    overflow-y: auto;
    scroll-behavior: smooth;

    >* {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        +* {
            margin: 20px auto 0;
        }
    }

    .editor {
        >*+* {
            margin-top: 10px;
        }

        #tones, #action, #musical-score {
            min-height: 120px;
            padding: 10px;
            background-color: #7f7f7f1f;
            border: 1px solid gray;
            border-radius: 6px;

            button {
                position: relative;
                padding: 0;
                width: 45px;
                aspect-ratio: 1;

                &:not(.material-icons) {
                    font-size: 18px;
                    font-weight: 700;
                }

                &::before {
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    z-index: 10;
                    visibility: hidden;
                    opacity: 0;
                    padding: 3px;
                    border-radius: 4px;
                    background: #505050;
                    color: #ffffff;
                    box-shadow: 0 3px 3px 0px #1f1f1f;
                    transform: translateX(-50%);
                    font-family: $noto-sans-jp;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    white-space: nowrap;
                    transition: .15s;
                    content: attr(aria-label);
                }

                &:hover {
                    &::before {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &:active {
                    transition: none;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .mml-form {
            fieldset {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 340px;
                    height: 38px;
                    margin: 0 auto;
                    max-width: 100%;
        
                    +* {
                        margin: 10px auto 0;
                    }
        
                    >* {
                        height: 100%;
                    }
    
                    input {
                        flex-shrink: 0;
        
                        +input {
                            margin-left: -1px;
                        }
                    }
            
                    input:not(:first-child, :last-child) {
                        border-radius: 0;
                    }
            
                    input:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
            
                    button:last-child {
                        flex-shrink: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding-left: 0;
            list-style: none;
        }

        small {
            margin-left: .25em;
        }

        @for $i from 1 through 16 {
            .note-#{$i} {
                background-color: randomColor();
            }
        }
    }

    .mml {
        pre {
            padding: 10px;
            background-color: #111111;
            border: 1px solid gray;
        }
    }

    .buttons {
        display: flex;
        gap: 10px;

        &.left {
            justify-content: flex-start;
        }

        &.right {
            justify-content: flex-end;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}