@charset "UTF-8";
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgb(233, 233, 233);
    --scrollbarHandle: rgba(255, 255, 255, 0.2);
    --scrollbarHandleHover: rgba(255, 255, 255, 0.4);
    --header-height: 56px;
}

html,
html * {
    scrollbar-color: var(--scrollbarHandle) transparent;
    scrollbar-width: thin
}

html::-webkit-scrollbar,
html *::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: #ffffff1a
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background: var(--scrollbarHandle)
}

html::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarHandleHover)
}

html::-webkit-scrollbar-thumb:active,
html *::-webkit-scrollbar-thumb:active {
    background: var(--accent)
}

$noto-sans-jp: 'Noto Sans JP', sans-serif;

body {
    margin: 0;
    background-color: #1f1f1f;
    color: #efefef;
    font-family: $noto-sans-jp;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.material-icons {
    vertical-align: middle;
}

a:any-link {
    color: #ffb039;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

small {
    color: #ffffff7f;
}

ul {
    padding-left: 25px;
}

dd {
    margin-left: 40px;

    +dt {
        margin-top: 10px;
    }
}

hr {
    height: 1px;
    margin: 0 10px;
    border: 0;
    background-color: #7f7f7f;
}

fieldset {
    display: contents;
}

label {
    display: block;
}

input[type="checkbox"] {
    accent-color: #ffb039;
}

input[type="range"] {
    height: 2px;
    background-color: #e5e5e5;
    appearance: none;

    &::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border: 0;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: lightgray;
    background: #1f1f1f;
    font-family: inherit;
    color-scheme: dark;

    &::placeholder {
        color: #7f7f7f;
    }

    &:disabled {
        background-color: #606060;
        color: #7f7f7f;
        cursor: not-allowed;
    }
}

button {
    padding: 5px 13px;
    border: 0;
    border-radius: 5px;
    background-color: #333333;
    color: lightgray;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;

    &:hover {
        background-color: #555555;
        color: white;
    }

    &:active {
        background-color: #111111;
        color: gray;
    }

    &:disabled {
        background-color: #111111;
        color: #7f7f7f;
        cursor: not-allowed;
    }

    &.primaly {
        color: #202020;
        background-color: #bd842f;

        &:hover {
            background-color: #e0aa58;
            color: #555555;
        }
    
        &:active {
            background-color: #91611a;
            color: #111111;
        }
    
        &:disabled {
            background-color: #816d4e;
            color: #111111;
        }
    }

    &.danger {
        color: #ef5555;

        &:hover {
            color: #ff7676;
        }
    
        &:active {
            color: #942727;
        }
    
        &:disabled {
            color: #522121;
        }
    }
}

textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
}

details {
    overflow: hidden;
    border-radius: 10px;
    background-color: #232323;
    box-shadow: 0 0 8px 0 #000000;

    >summary {
        padding: 10px;
        background-color: #323232;
        cursor: pointer;
        user-select: none;
    }

    >p,
    >div {
        margin: 0;
        padding: 10px;
    }

    details {
        margin: 0 10px 10px;
    }
}

blockquote {
    margin: 8px 5px;
    border-left: 3px solid #333333;
    padding-left: 8px;
}

header {
    overflow: hidden;
    height: var(--header-height);
    padding: 15px 12.5px;
    background: #0000007f;
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;

    a:any-link {
        color: inherit;
    }
}

@function contentAreaHeight($unit) {
    @return calc(#{100 + $unit} - var(--header-height));
}

@function randomColor() {
    @return rgb(64 + math.random(159), 32 + math.random(159), 32 + math.random(159));
}

@function randomColorHsl() {
    @return hsl(math.random(360) 50 + math.random(25) + 0% 30 + math.random(50) + 0%);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.wrap {
    overflow: clip;
    height: contentAreaHeight(vh);
    height: contentAreaHeight(dvh);
    padding: 20px 10px;
    overflow-y: auto;
    scroll-behavior: smooth;

    @media (pointer: coarse) {
        padding: 20px 40px;
    }

    >* {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        +* {
            margin: 20px auto 0;
        }
    }

    .editor {
        >*+* {
            margin-top: 10px;
        }

        #tones, #action, #musical-score {
            padding: 10px;
            background-color: #7f7f7f1f;
            border: 1px solid gray;
            border-radius: 6px;
            user-select: none;

            &.no-op {
                pointer-events: none;
            }

            button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 45px;
                text-shadow: 0 0 2px #111111;
                white-space: nowrap;
                aspect-ratio: 1;

                &:not(.material-icons) {
                    font-size: 18px;
                    font-weight: 700;
                }

                &::before {
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    z-index: 10;
                    visibility: hidden;
                    opacity: 0;
                    padding: 3px;
                    border-radius: 4px;
                    background: #505050;
                    color: #ffffff;
                    box-shadow: 0 3px 3px 0px #1f1f1f;
                    transform: translateX(-50%);
                    font-family: $noto-sans-jp;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    white-space: nowrap;
                    transition: .15s;
                    content: attr(aria-label);
                }

                &::after {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    z-index: 1;
                    overflow: hidden;
                    width: 100%;
                    transform: translateX(-50%);
                    font-family: $noto-sans-jp;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                }

                &.tempo::after {
                    content: attr(data-tempo);
                }

                &.note-value::after {
                    content: attr(data-note-value);
                }

                &.rest::after {
                    content: attr(data-rest);
                }

                &.octave::after {
                    content: attr(data-octave);
                }

                &.velocity::after {
                    content: attr(data-velocity);
                }

                &.note-shift::after {
                    content: attr(data-note-shift);
                }

                &.detune::after {
                    content: attr(data-detune);
                }

                &.repeat-start-end::after {
                    content: attr(data-repeat-start-end);
                }

                &:hover {
                    &::before {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &:active {
                    transition: none;

                    &::before {
                        display: none;
                    }
                }

                &.droppable {
                    color: white;
                    opacity: .8;
                    transform: translateY(2px);
                }

                &.bounce {
                    animation: .8s bounce ease-in-out;
                }

                &.pop {
                    animation: .4s pop ease-in-out;
                }

                &.done {
                    opacity: .6;
                    transition: .5s;
                }
            }
        }

        #tones, #musical-score {
            min-height: 120px;
            padding-bottom: 50px;
        }

        #tones {
            button {
                &.note::after {
                    content: attr(data-tone);
                }
            }
        }

        #musical-score {
            button {
                &.note::after {
                    content: attr(data-tone-pitch);
                }
            }
        }

        .mml-form {
            fieldset {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 340px;
                    height: 38px;
                    margin: 0 auto;
                    max-width: 100%;
        
                    +* {
                        margin: 10px auto 0;
                    }
        
                    >* {
                        height: 100%;
                    }
    
                    input {
                        flex-shrink: 0;
        
                        +input {
                            margin-left: -1px;
                        }
                    }
            
                    input:not(:first-child, :last-child) {
                        border-radius: 0;
                    }
            
                    input:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
            
                    button:last-child {
                        flex-shrink: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }

        #dialog {
            all: revert;
            bottom: calc(100dvh - var(--vvh, 100dvh));
            padding: 0;
            border: 0;
            border-radius: 6px;
            background-color: #272727;

            &::backdrop {
                background-color: #0000007f;
            }

            #dialog-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px 30px;

                .form-title {
                    font-size: 22px;
                    text-align: center;
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    label {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        max-width: 400px;

                        emoji-picker {
                            overflow: auto;
                            width: 100%;
                            height: 0;
                            margin: 0 auto;
                            visibility: hidden;
                            opacity: 0;
                            transition: .5s;
                            --h-ref: 360px;

                            &.expaned {
                                height: var(--h-ref);
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        input {
                            width: 50%;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding-left: 0;
            list-style: none;
        }

        small {
            margin-left: .25em;
        }

        @for $i from 1 through 16 {
            .note-#{$i} {
                background-color: randomColor();
            }
        }
    }

    .mml {
        pre {
            overflow: auto;
            padding: 10px;
            background-color: #111111;
            border: 1px solid gray;
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &.left {
            justify-content: flex-start;
        }

        &.right {
            justify-content: flex-end;
        }

        &.for-mobile {
            display: none;
            position: sticky;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: fit-content;
            margin: 0;

            &.show {
                display: flex;
            }

            .ctrl-sw {
                position: relative;
                width: 120px;
                box-shadow: 0 1px 6px 3px #303030;
                user-select: none;
                aspect-ratio: 4 / 3;
                font-family: inherit;
                font-size: 1em;
                line-height: 1.2;
                cursor: pointer;

                input[type="checkbox"] {
                    position: absolute;
                    inset: 0;
                    margin: 0;
                    opacity: 0;
                    cursor: pointer;
                
                    &:active + label {
                        background-color: #91611a;
                        color: #111111;
                    }

                    &:checked {
                        + label {
                            background-color: #2d84b6;

                            &::before {
                                white-space: pre;
                                text-align: center;
                                content: "複製\A音価変更";
                            }
                        }
                    
                        &:active + label {
                            background-color: #186997;
                        }
                    }
                }

                label {
                    width: 100%;
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: #202020;
                    background-color: #bd842f;

                    &::before {
                        content: "移動";
                    }
                }
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

@media screen and (width < 768px) {
    @media (pointer: coarse) {
        .wrap {
            padding-left: 10px;
        }
    }
}